@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,400;1,500&family=Cormorant+SC:wght@500;600&family=Merriweather:ital,wght@0,300;1,400&display=swap');

section {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #e6e2d3, #321b12);
}
#contact {
  color: #fffaed;
  margin: 0 18rem;
  font-family: 'Cormorant Garamond', serif;
}
.title {
  margin: 6rem 0 2rem 0;
}
.offer {
  padding: 1rem 0rem;
}
h2 {
  font-size: 2rem;
  color: #fffaed;
}
h4 {
  font-size: 2.9rem;
}
p {
  text-align: justify;
  padding: 0.7rem;
  color: #fffaed;
}
spam {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #fffaed;
  margin-right: 0.7rem;
}
.data {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 4rem;
}
.description {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-right: 4rem;
}
input,
textarea {
  text-transform: uppercase;
  border: none;
  border-bottom: 0.1rem solid green;
  width: 100%;
  color: #313827;
  padding: 0.7rem;
}
&:focus {
  outline: none;
}
textarea {
  width: 100%;
  height: 50%;
  resize: none;
}
buttom {
  width: 100%;
  background-color: transparent;
  border: 0.1rem solid yellow;
  height: 3rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.contactSection {
  display: flex;
  align-items: flex-start;
}

.sideTitle {
  flex-shrink: 0;
  width: 30%;
}

.sideTitle h2 {
  writing-mode: vertical-rl;
  color: transparent;
  -webkit-text-stroke: 2px #fffaed;
  margin-left: 2rem;
  transform: rotate(-180deg);
  font-size: 4rem;
  letter-spacing: 48px;
  font-family: 'Merriweather', serif;
}

.contactContent {
  flex-grow: 1;
  width: 80%;
  margin-top: -2rem;
}
.error {
  color: red;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .contact {
    margin: 1rem;
    padding: 0 1rem;
  }
  .title {
    margin: 0;
    text-align: center;
  }
  p {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.5rem;
    text-align: left;
  }
  .data {
    grid-template-columns: 1fr;
    margin: 0;
  }
  p {
    text-align: left;
  }

  .sideTitle h2 {
    display: none;
  }
  .contactContent {
    padding: 0 2rem 0 2rem;
    width: 100%;
  }
  .contactSection {
    display: block;
  }
  spam {
    font-size: 1rem;
  }
  .form {
    margin: 0 0 2rem 0;
  }
}

/* Intro.module.css */
.introContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.backgroundSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Add styles for the video image slider component */
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  margin-top: 30%;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 24px;
}
