@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,400;1,500&family=Cormorant+SC:wght@500;600&family=Merriweather:ital,wght@0,300;1,400&display=swap');

section {
  padding: 0 10rem;
  height: 65vh;
}
#contact {
  color: #fffaed;
  margin: 0 18rem;
  font-family: 'Cormorant Garamond', serif;
}

.title {
  margin: 5rem 0 5rem 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.offer {
  padding: 1rem 0rem;
  font-family: 'Spectral', Sans-serif;
  color: #fffaed;
  text-transform: uppercase;
  text-align: center;
}
.headerImg {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  position: relative;
}
.data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem;
  position: absolute;
  top: 30%;
  left: 27%;
  background: rgb(46 25 17 / 19%);
  box-shadow: 0 8px 32px 0 rgb(245 245 245 / 11%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 3rem;
  width: 55%;
}
h2 {
  font-size: 2rem;
}
h4 {
  font-size: 3rem;
  text-align: center;
  color: #ac7561;
}
.subtitles {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
p {
  font-size: 1.4rem;
  text-align: justify;
  padding: 0.7rem;
  color: #fffaed;
  text-align: center;
}
span {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #fffaed;
  margin-right: 0.7rem;
}

.description {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  margin-top: 1.5rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

input,
textarea {
  border: none;
  border-bottom: 0.1rem solid white;
  width: 100%;
  background-color: transparent;
  color: white;
  margin-bottom: 10px;
  font-family: Spectral, sans-serif;
  padding: 4em 0 4em 0;
  letter-spacing: 3px;
  overflow: hidden;
}
&:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: white;
  text-transform: uppercase;
  font-family: Spectral, sans-serif;
}

.contactSection {
  display: flex;
  align-items: flex-start;
}

.sideTitle {
  flex-shrink: 0;
  width: 10%;
}

.sideTitle h2 {
  writing-mode: vertical-rl;
  color: white;
  transform: rotate(-180deg);
  font-size: 3rem;
  letter-spacing: 70px;
  font-family: 'Spectral', Sans-serif;
  padding-bottom: 0;
  position: absolute;
  top: 28%;
}

.contactContent {
  flex-grow: 1;
  width: 80%;
  /* margin: 5rem 4rem; */
}
.error {
  color: red;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}
@media screen and (min-width: 1441px) and (max-width: 1900px) {
  .data {
    width: 68%;
    left: 24%;
  }
  .description {
    padding-right: 2rem;
  }
}

@media screen and (max-width: 1440px) {
  .data {
    top: 21%;
  }
  #contact {
    margin: 1rem;
    padding: 0 1rem;
  }
  .title {
    margin: 0;
    text-align: center;
  }
  p {
    font-size: 1rem;
    text-align: center;
  }
  h2 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.5rem;
    text-align: left;
  }
  .data {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .sideTitle h2 {
    display: none;
  }
  .contactContent {
    padding: 0;
    width: auto;
  }
  .contactSection {
    display: block;
  }
  .span {
    font-size: 1.7rem;
  }
  .description {
    align-items: center;
  }
  .subtitles {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 0;
  }
}
@media (max-width: 1440px) {
  section {
    padding: 0 4rem;
  }
}
@media (max-width: 1024px) {
  .description {
    padding-right: 0;
  }

  .data {
    width: auto;
    left: 0;
    margin: 0;
  }
  section {
    padding: 0;
    height: auto;
  }
  .contactContent {
    margin: 0;
  }

  .contactSection {
    padding: 0 3rem 0 3rem;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 1rem;
  }
  .data {
    margin: 2rem;
  }
  .info {
    text-align: center !important;
  }
  input,
  textarea {
    padding: 2em 0 2em 0;
  }
}
@media (max-width: 767px) {
  .offer {
    text-align: center;
  }
  input,
  textarea {
    width: 18rem !important;
  }
  .contactSection {
    height: auto;
    padding: 0px 1rem 0 1rem;
  }
  .description {
    margin-bottom: 3rem;
  }
  .headerImg {
    display: none;
  }
  .data {
    box-shadow: none;
    border-radius: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
    position: static;
    margin: 0;
    background: transparent;
  }
  .subtitles {
    text-align: center;
  }
}
