.details {
  color: white;
}

.headline {
  min-height: 90vh;
  padding-top: 20vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.movietitle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}
.mainImg {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.awards {
  min-height: 20vh;
  display: flex;
  margin: 2rem 0rem;
  align-items: center;
  justify-content: space-around;
}

.awardStyle {
  padding: 5rem;
}
h3 {
  font-size: 2rem;
}
.line {
  width: 100%;
  background: #23d997;
  height: 0.5rem;
  margin: 1rem 0rem;
}
p {
  padding: 2rem 0rem;
}

.imageDisplay {
  min-height: 50vh;
}
img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.galleryTitle {
  font-family: 'Raiderfont';
  word-spacing: 20px;
}
@media (max-width: 1024px) {
  .headline {
    padding-top: 27vh;
  }
  .movietitle {
    top: 14%;
  }

  .awards {
    display: block;
    padding: 2rem 2rem 0rem 2rem;
  }
  p {
    padding: 1rem 0rem;
    font-size: 1.7rem;
  }
  img,
  .mainImg {
    width: 100%;
    height: 56vh;
  }
}
@media (max-width: 780px) {
  .awardStyle {
    padding: 1rem;
  }
  p {
    padding: 1rem 0rem;
    font-size: 1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
