.details {
  color: white;
}

.headline {
  padding-top: 10vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movietitle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  text-align: center;
}
.tit {
  text-align: center;
  color: #43281e;
  font-family: 'Merriweather', serif;
}
.mainImg {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

.awards {
  min-height: 20vh;
  display: flex;
  margin: 2rem 0rem;
  align-items: center;
  justify-content: space-around;
}

.awardStyle {
  padding: 5rem;
}
h3 {
  font-size: 1.5rem;
  color: #43281e;
  font-family: 'Merriweather', serif;
}
.line {
  width: 100%;
  background: white;
  height: 0.5rem;
  margin: 1rem 0rem;
}

.imageDisplay {
  min-height: 50vh;
}
img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}
.galleryTitle {
  font-family: 'Merriweather', serif;
  word-spacing: 20px;
  color: #43281e;
  text-align: center;
}
.description {
  padding: 2rem 0rem;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  color: #43281e;
  text-align: left;
}
@media (max-width: 1024px) {
  /* .headline {
    padding-top: 27vh;
  } */
  .title {
    top: 14%;
  }

  .awards {
    display: block;
    padding: 2rem 2rem 0rem 2rem;
  }
  p {
    padding: 1rem 0rem;
    font-size: 1.7rem;
  }
  img,
  .mainImg {
    width: 100%;
    height: 70vh;
  }
}
@media (max-width: 780px) {
  .awardStyle {
    padding: 1rem;
  }
  p {
    padding: 1rem 0rem;
    font-size: 1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  img,
  .mainImg {
    height: 300px;
  }
}
