.project {
  min-height: 100vh;
  overflow: hidden;
  padding: 5rem 10rem;
}
h2 {
  paddgin: 1rem 0rem;
  margin-bottom: 2rem;
}
.line {
  height: 0.2rem;
  background: #f0efe5;
  margin-bottom: 2rem;
}
.images {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

@media (max-width: 1300px) {
  padding: 2rem 2rem;
}

@media (max-width: 780px) {
  .subtitle {
    font-size: 2rem;
    width: 160px;
  }
  .images {
    width: 290px;
    height: 250px;
    object-fit: cover;
  }
  .project {
    padding: 3rem 3rem;
  }
}
