blockContainer {
  height: 50vh;
}

.text {
  margin: 10rem auto;
  position: relative;
  font-size: 4rem;
  text-align: center;
  width: 75%;
  color: #6e5248;
}

@media screen and (max-width: 1024px) {
  .text {
    font-size: 2rem;
    margin: 2rem auto;
  }
}

@media (max-width: 767px) {
  .text {
    width: auto;
    padding: 2rem;
    background: #f2f2f27a;
    margin: 0 auto;
  }
}
