blockContainer {
  height: 50vh;
}
.review {
  color: white;
  box-shadow: grey;
  padding: 0 7rem 0 7rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  margin-bottom: 2rem;
  position: relative;
  font-size: 2rem;
  text-align: center;
  width: 75%;
  padding: 7rem;
}
.review:before {
  content: '\201C';
  position: absolute;
  bottom: 32%;
  left: 20%;
  transform: translateX(-50%);
  font-size: 6rem;
  line-height: 1;
  font-size: 9rem;
  color: white;
  font-family: cursive;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .review {
    padding: 0 1rem 0 1rem;
  }
  .review:before {
    bottom: 41%;
    left: 7%;
    font-size: 6rem;
  }
  .text {
    padding: 1rem;
  }
}

@media (max-width: 767px) {
  .review {
    padding: 0 1rem 0 1rem;
  }
  .review:before {
    bottom: 80%;
    left: 13%;
    font-size: 3rem;
  }
  .text {
    padding: 0;
    width: 80%;
  }
}
