.button {
  font-family: 'Spectral', Sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 3em;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 150px;
  background: #523a28;
  color: #e4d4c8;
  transition: background 0.3s ease, color 0.3s ease;
  border: none;
}

.button:hover {
  background: #e4d4c8;
  color: #523a28;
}

.button:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}
@media screen and (max-width: 767px) {
  .button {
    height: 33px;
    width: 116px;
    font-size: 1rem;
    transform: none;
    margin: 3rem auto;
  }
}
