.faqSection {
  margin-top: 10rem;
  padding: 0 3rem 0 3rem;
  min-height: 90vh;
}
h2 {
  padding-bottom: 2rem;
  font-size: 2.5rem;
  color: whitesmoke;
  font-family: 'Spectral', Sans-serif;
  font-weight: 100;
}

h4 {
  padding: 2rem 0rem;
  color: #372620;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  text-align: left;
}

p {
  padding: 1rem 0rem;
  background-color: #yellow;
  text-align: left;
}
.answer {
  padding: 2rem 0rem;
  font-size: 1.7rem;
}

.questions {
  padding: 3rem 0rem;
  cursor: pointer;
}

.faqLine {
  background: white;
  height: 0.2rem;
  margin: 2rem 0;
  width: 100%;
}
.toggle {
  cursor: pointer;
}

.footer {
  position: relative;
  background: white;
  padding: 2rem;
}
.footer {
  position: relative;

  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;

  justify-content: center;
  background: #d8d2d2;
  clip-path: polygon(100% 13%, 100% 0, 100% 100%, 0% 100%, 0 11%);
}
.footer::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: -48%;
  left: -51%;
  right: -14px;
  /* bottom: 4%; */
  clip-path: polygon(100% 0, 100% 100%, 0 99%, 0 19%);
  background: #cabdb9;
  transform: rotate(6deg);
  height: 126px;
}

.footerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.footerContentLeft {
  color: brown;
  width: 20rem;
}

.footerContentCenter {
  text-align: center;
}

.footerContentRight {
  /* Stílusok a jobb oldali tartalomhoz */
}
.quote {
  color: brown;
}

.footerIcons {
  display: flex;
  justify-content: space-between;
  width: 100px;

  gap: 3rem;
}

.footerWD {
  text-align: center;
  font-weight: bold;
}
svg {
  color: #d8d2d2;
}

.footerCenter {
  text-align: center;
}

.footerCopyright {
  margin: 0 auto;
  font-size: 0.7rem;
  color: #35251f;
}

@media screen and (max-width: 1440px) {
  .faqSection {
    margin-top: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 760px) {
  .faqSection {
    padding: 0 2rem 0 2rem;
  }
  p {
    font-size: 1.7rem;
  }
  h2 {
    padding-bottom: 20px;
    font-size: 1rem;
  }
  h4 {
    padding: 1rem 0rem;
    font-size: 1.7rem;
  }
}
