@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,400;1,500&family=Cormorant+SC:wght@500;600&family=Merriweather:ital,wght@0,300;1,400&display=swap');
.about {
  min-height: 100vh;
  display: flex;
  padding: 4rem 10rem;
  position: absolute;
  top: 10%;
  left: 0%;
  background-image: linear-gradient(to bottom, #e6e2d3, #321b12);
}

.description {
  flex: 1;
}
.name {
  font-family: 'Merriweather', serif;
  font-size: 2.7rem;
  text-transform: uppercase;
  text-align: center;
  color: #6e5248;
}
.span {
  font-family: 'Merriweather', serif;
  color: #6e5248;
}
.subText {
  font-size: 2rem;
}
.nameBottom {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.text {
  font-size: 1.7rem;
  font-weight: 300;
  color: #fffaed;
  text-align: center;
}

.imgContainer {
  margin-left: 6rem;
  flex: 1;
}
.img {
  height: 730px;
  width: 600px;
  object-fit: cover;
  overflow: hidden;
}

@media screen and (maxn-width: 1440px) {
  .name {
    font-size: 5rem;
    margin-top: 1.4rem;
  }
  .description {
    flex: auto;
  }
}

@media screen and (max-width: 1440px) {
  .about {
    padding: 4rem 2rem;
  }
  .imgContainer {
    flex: 0;
    margin-left: 2rem;
  }
  .img {
    height: 687px;
    width: 466px;
  }
}

@media screen and (max-width: 1330px) {
  .name {
    font-size: 4rem;
    margin-top: 1.4rem;
  }
  .about {
    flex-direction: column;
    text-align: center;
    padding: 1rem 5rem;
  }
  .description {
    flex: 0;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 0rem 2rem;
  }
  .name {
    font-size: 2rem;
  }
  .text {
    font-size: 1.5rem;
  }
  .img {
    width: 288px;
    height: 370px;
    margin-bottom: 2rem;
  }
  .description {
    flex: 0;
  }
}
