@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,400;1,500&family=Cormorant+SC:wght@500;600&family=Merriweather:ital,wght@0,300;1,400&display=swap');
.about {
  min-height: 100%;
  display: flex;
  padding: 10rem 2rem 0 10rem;
  position: absolute;
  top: 10%;
  left: 0%;
  background-image: linear-gradient(to bottom, #e6e2d3, #321b12);
}

.description {
  flex: 1;
}
.name {
  font-family: 'Merriweather', serif;
  font-size: 2.7rem;
  text-transform: uppercase;
  text-align: center;
  color: #6e5248;
}
.span {
  font-family: 'Merriweather', serif;

  color: #6e5248;
}
.subText {
  font-size: 2rem;
}
.nameBottom {
  font-family: 'Cormorant SC', serif;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.text {
  font-size: 1.7rem;
  margin: 1rem 0 2rem 0;
  font-weight: 300;
  color: #fffaed;
}

.imgContainer {
  margin-left: 6rem;
  flex: 1;
}
.img {
  width: 530px;
  height: 700px;
  object-fit: cover;
  overflow: hidden;
}

.button {
  position: relative;
  height: 50px;
  width: 170px;
  margin: 0 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: #3a261f;
  color: #cdbaba;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Merriweather', serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s;
  margin-bottom: 2rem;
}
.button:first-child:hover {
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}
.button:last-child:hover {
  background: linear-gradient(90deg, #9e9e9e, #ece1e1, #7b5f55, #3a2924);
  background-size: 400%;
}
.button:first-child:before,
.button:last-child:before {
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s;
  color: whitesmoke;
}
.button:first-child:hover:before,
.button:last-child:hover:before {
  opacity: 1;
  z-index: -1;
}
.button:hover {
  z-index: 1;
  animation: glow 8s linear infinite;
}
@keyframes glow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
@media screen and (maxn-width: 1440px) {
  .name {
    font-size: 5rem;
    margin-top: 1.4rem;
  }
  .description {
    flex: auto;
  }
}
@media screen and (max-width: 1330px) {
  .imgContainer {
    margin-left: 0;
  }
  .name {
    font-size: 4rem;
    margin-top: 1.4rem;
  }
  .about {
    flex-direction: column;
    text-align: center;
    padding: 1rem 5rem;
  }
  .button {
    margin: 2rem 0rem 2rem 0rem;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 0rem 2rem;
  }
  .name {
    font-size: 2rem;
  }
  .text {
    font-size: 1rem;
    margin: 1rem 0 0rem 0;
  }
  .img {
    width: 288px;
    height: 370px;
  }
}
