@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,400;1,500&family=Cormorant+SC:wght@500;600&family=Merriweather:ital,wght@0,300;1,400&display=swap');
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1.5rem;
}
.logo {
  color: #43281e;
  font-family: 'Merriweather', serif;
}
.line {
  height: 0.2rem;
  background-color: #c7c6ba;
  position: absolute;
  bottom: -32%;
  left: 16%;
  width: 0%;
}

.links {
  cursor: pointer;
  list-style: none;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #43281e;
  font-size: 1.4rem;
}
li {
  position: relative;
}
ul {
  list-style: none;
  display: flex;
  font-size: 1rem;
}
.menuIcon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 2rem;
  }
  .logo {
    font-size: 1rem;
  }

  .links {
    justify-content: center;
    padding: 32px;
    width: 100%;
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    text-decoration: underline;
    width: 100%;
    font-size: 2rem;
    margin: 0;
  }
  .menuIcon {
    display: block;
    position: absolute;
    font-size: 30px;
    border: none;
    outline: none;
    right: 17px;
  }
}
