.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 2rem;
  background-color: #9e9e9e33;
}
.logo {
  font.size: 20px;
  color: white;
}
.line {
  height: 0.2rem;
  background-color: white;
  position: absolute;
  bottom: -40%;
  left: 20%;
  width: 0%;
}

.links {
  color: white;
  cursor: pointer;
  list-style: none;
  margin: 0 10px;
  padding: 10px 20px;
}
li {
  position: relative;
}
ul {
  list-style: none;
  display: flex;
  font-size: 1.7rem;
}
.menuIcon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .logo {
    font-size: 1rem;
  }
  .navbar {
    padding: 2rem;
  }
  .links {
    justify-content: center;
    padding: 32px;
    width: 100%;
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    text-decoration: underline;
    width: 100%;
    font-size: 2rem;
  }
  .menuIcon {
    display: block;
    position: absolute;
    font-size: 30px;
    border: none;
    outline: none;
    right: 17px;
  }
}
