.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1.5rem;
  /* background-color: #a5b58e; */
}
.logo {
  font.size: 20px;
  color: white;
}
.line {
  height: 0.2rem;
  background-color: #c7c6ba;
  position: absolute;
  bottom: -32%;
  left: 16%;
  width: 0%;
}

.links {
  color: white;
  cursor: pointer;
  list-style: none;
  padding: 10px 20px;
  text-transform: uppercase;
}
li {
  position: relative;
}
ul {
  list-style: none;
  display: flex;
  font-size: 1rem;
}
.menuIcon {
  display: none;
}

/* Additional Styles */

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 2rem;
  }
  .logo {
    font-size: 1rem;
  }

  .links {
    justify-content: center;
    padding: 32px;
    width: 100%;
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    text-decoration: underline;
    width: 100%;
    font-size: 2rem;
    margin: 0;
    color: #a5b58e;
  }
  .menuIcon {
    display: block;
    position: absolute;
    font-size: 30px;
    border: none;
    outline: none;
    right: 17px;
  }
}
