@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,400;1,500&family=Cormorant+SC:wght@500;600&family=Merriweather:ital,wght@0,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #e6e2d3;
  color: #313827;
  font-family: 'Cormorant Garamond', serif;
}

h2 {
  font-weight: lighter;
  font-size: 4rem;
}

@media screen and (max-width: 1024px) {
  .nav-links-mobile {
    display: block;
    position: absolute;
    list-style: none;
    left: 0;
    top: 9.5%;
    width: 100%;
    z-index: 9999;
    background-image: linear-gradient(to bottom, #e6e2d3, #321b12);
    height: 2000px;
    width: 100%;
    border-top: 1.5px solid #6e5248;
  }
  .nav-links {
    display: none;
  }

  .Navigation_menuIcon__-fbrX:hover {
    color: white;
    background-color: transparent !important;
  }

  .Navigation_line__QBN\+6 {
    display: none !important;
  }
  .hamburger-react {
    height: 47px !important;
    color: #442a2a !important;
  }
}
