* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #e9e8e1;
  color: #313827;
}
button {
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: all 0.5s ease;
  color: #948a77;

  &:hover {
    background-color: #f0efe5;
    color: #403a2e;
  }
}
h2 {
  font-weight: lighter;
  font-size: 4rem;
}

@media screen and (max-width: 1024px) {
  .nav-links-mobile {
    display: block;
    position: absolute;
    list-style: none;
    left: 0;
    top: 7.5%;
    width: 100%;
    z-index: 9999;
    background: #e9e8e1;
    height: 2000px;
    width: 100%;
  }
  .nav-links {
    display: none;
  }

  .Navigation_menuIcon__-fbrX:hover {
    color: white;
    background-color: transparent !important;
  }

  .Navigation_line__QBN\+6 {
    display: none !important;
  }
  .hamburger-react {
    height: 47px !important;
    color: #e9e9e9 !important;
  }
}
